\.idea/
*/__pycache__/*
**/*.pyc

# Ignore files for Devnet Express

Devops-101/Devnet\ Express/code/soluciones/desafio_final_solucion.py
Devops-101/Devnet\ Express/.idea/
Devops-101/Devnet\ Express/code/playground/*
