
---------------------------------------------------------------------------------------------------------------
Welcome to {{ course_name }} on {{ ansible_hostname }}.
Running {{ ansible_distribution }} {{ ansible_distribution_version}} on {{ ansible_architecture }} architecture.
Have a nice day!!
----------------------------------------------------------------------------------------------------------------

